<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/budget"></ion-back-button>
		</ion-buttons>
		<ion-title>{{this.date}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list>
		<ion-item detail="true" *ngFor="let b of budget" (click)="editEntry(b.id)">
			<ion-label>
				<h2>{{b.amount | currency:'INR'}}</h2>
				<p>{{b.category}}</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
