.calendar {
	height: calc(100vh / 7);
	width: 100%;
}

p {
	margin: 0;
	line-height: 12px;
	text-align: left;
}
.date {
	font-size: 14px;
}

:host ::ng-deep {
	.event-detail-container {
		display: none;
	}
	.monthview-selected {
		background-color: white !important;
		color: black !important;
	}
	.monthview-current {
		background-color: var(--ion-color-primary) !important;
		color: var(--ion-color-primary-contrast) !important;
	}
}
